@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --texto: Nunito;
    --titulo: Kode Mono;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header > h1 {
    font-family: var(--titulo);
    font-size: 5em;
    background-color: rgb(218, 77, 77);
    padding: 10px;
    text-align: center;
    color: white;
}

header > nav {
    background-image: linear-gradient(to bottom, rgb(218, 77, 77), rgb(154, 27, 27));
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}

header > nav > a::before {
    content: "| ";
}

header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    color: rgb(108, 27, 27);
}

main h2 {
    font-family: var(--titulo);
    text-align: center;
    margin: 10px;
    color: rgb(95, 22, 22);
}

main div.geo {
    background-color: rgb(134, 34, 34);
    max-width: 300px;
    height: 325px;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
}

main div.geo img {
    width: 300px;
    border-radius: 20px 20px 0px 0px;
}

main div.geo p {
    font-family: var(--texto);
    margin: 20px 10px 10px 10px;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

body, html {
    background-color: rgb(255, 223, 223);
}